pkgbase = fhome-bin
	pkgdesc = Interact with smart home devices connected to F&Home
	pkgver = 0.1.15
	pkgrel = 1
	url = https://github.com/bartekpacia/fhome
	conflicts = fhome
	provides = fhome
	arch = aarch64
	source_aarch64 = https://github.com/bartekpacia/fhome/releases/download/v0.1.15/fhome_0.1.15_linux_arm64.tar.gz
	sha256sums_aarch64 = aec25f80258aba6d43d640b69a6b397036375b85ef54ce7e2c1d37767f258e8d
	arch = x86_64
	source_x86_64 = https://github.com/bartekpacia/fhome/releases/download/v0.1.15/fhome_0.1.15_linux_amd64.tar.gz
	sha256sums_x86_64 = c116d7a491a5026f07d0e48b09d9a16d2c1e6ea30e01cba71faec5c2398f0853
	
pkgname = fhome-bin
