pkgbase = fhome-bin
	pkgdesc = Interact with smart home devices connected to F&Home
	pkgver = 0.2.6
	pkgrel = 1
	url = https://github.com/bartekpacia/fhome
	conflicts = fhome
	provides = fhome
	arch = aarch64
	source_aarch64 = https://github.com/bartekpacia/fhome/releases/download/v0.2.6/fhome_0.2.6_linux_arm64.tar.gz
	sha256sums_aarch64 = fed495a2dddcd55d88b84c0bd122b4a630671d2bc1979c2e8e2d18e410bbfdac
	arch = x86_64
	source_x86_64 = https://github.com/bartekpacia/fhome/releases/download/v0.2.6/fhome_0.2.6_linux_amd64.tar.gz
	sha256sums_x86_64 = 9dbc58d652c6e6587078b12511a54b978a20f96ac99303c506c0de6dadd8f441
	
pkgname = fhome-bin
