pkgbase = fhome-bin
	pkgdesc = Interact with smart home devices connected to F&Home
	pkgver = 0.2.5
	pkgrel = 1
	url = https://github.com/bartekpacia/fhome
	conflicts = fhome
	provides = fhome
	arch = aarch64
	source_aarch64 = https://github.com/bartekpacia/fhome/releases/download/v0.2.5/fhome_0.2.5_linux_arm64.tar.gz
	sha256sums_aarch64 = da43e88fb135991a9a06aba6ac0c3313c8f94ed2e52563c226d140c2946d96a8
	arch = x86_64
	source_x86_64 = https://github.com/bartekpacia/fhome/releases/download/v0.2.5/fhome_0.2.5_linux_amd64.tar.gz
	sha256sums_x86_64 = 21053978192a77dbefc8915544d6be3032b07667c6fc3356c4da58ebdf6899eb
	
pkgname = fhome-bin
