pkgbase = fhome
	pkgdesc = Interact with smart home devices connected to F&Home
	pkgver = 0.3.5
	pkgrel = 1
	url = https://github.com/bartekpacia/fhome
	arch = aarch64
	arch = x86_64
	license = MIT
	makedepends = go
	conflicts = fhome
	provides = fhome
	
	source = https://github.com/bartekpacia/fhome/releases/download/v0.3.5/fhome-0.3.5.tar.gz
	sha256sums = 55897193ae09ffbdd9b4e2c7bd21bb4a685f4c03876e1758f89dbadf3f104c3b
	
pkgname = fhome
