pkgbase = fhome
	pkgdesc = Interact with smart home devices connected to F&Home
	pkgver = 0.3.4
	pkgrel = 1
	url = https://github.com/bartekpacia/fhome
	arch = aarch64
	arch = x86_64
	license = MIT
	makedepends = go
	conflicts = fhome
	provides = fhome
	
	source = https://github.com/bartekpacia/fhome/releases/download/v0.3.4/fhome-0.3.4.tar.gz
	sha256sums = 87d0bf03f717e3207a03563242cbf1dc8d3649ae4fea5d764962a09637ab9ff3
	
pkgname = fhome
