pkgbase = fhomed-bin
	pkgdesc = Background daemon for F&Home
	pkgver = 0.1.22
	pkgrel = 1
	url = https://github.com/bartekpacia/fhome
	conflicts = fhome
	provides = fhome
	arch = aarch64
	source_aarch64 = https://github.com/bartekpacia/fhome/releases/download/v0.1.22/fhomed_0.1.22_linux_arm64.tar.gz
	sha256sums_aarch64 = e31e3d7fcc677ca0f5c33a91ac046c9d2af84da892851f1a19a4a07c55025a52
	arch = x86_64
	source_x86_64 = https://github.com/bartekpacia/fhome/releases/download/v0.1.22/fhomed_0.1.22_linux_amd64.tar.gz
	sha256sums_x86_64 = dc5eec272357ae813aa0b759e3d32e4892a04c2cc3ebe19723e076fa90320c2b
	
pkgname = fhomed-bin
