pkgbase = fhomed-bin
	pkgdesc = Background daemon for F&Home
	pkgver = 0.1.25
	pkgrel = 1
	url = https://github.com/bartekpacia/fhome
	conflicts = fhome
	provides = fhome
	arch = aarch64
	source_aarch64 = https://github.com/bartekpacia/fhome/releases/download/v0.1.25/fhomed_0.1.25_linux_arm64.tar.gz
	sha256sums_aarch64 = b3664f4592e851377feb1d551022bc18abc0940a4464b74d9495d329e4db8979
	arch = x86_64
	source_x86_64 = https://github.com/bartekpacia/fhome/releases/download/v0.1.25/fhomed_0.1.25_linux_amd64.tar.gz
	sha256sums_x86_64 = 75e38e21aa338e92b623014ac16e323b5eb3697af22903ce0eac648f752c88b5
	
pkgname = fhomed-bin
