pkgbase = fhomed-bin
	pkgdesc = Background daemon for F&Home
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/bartekpacia/fhome
	conflicts = fhome
	provides = fhome
	arch = aarch64
	source_aarch64 = https://github.com/bartekpacia/fhome/releases/download/v0.2.0/fhomed_0.2.0_linux_arm64.tar.gz
	sha256sums_aarch64 = 8068861ccb4f2c599aaca73a40d4fd03686f4af322a93e8f3ee9419a089952ab
	arch = x86_64
	source_x86_64 = https://github.com/bartekpacia/fhome/releases/download/v0.2.0/fhomed_0.2.0_linux_amd64.tar.gz
	sha256sums_x86_64 = 3c16a3c7a0150c61a88384b1a240409bbaea44feac1d8bcb0dbd0a73b6394094
	
pkgname = fhomed-bin
