pkgbase = emu-bin
	pkgdesc = Handy mini-CLI for more pleasant work with Android Emulator
	pkgver = 0.2.14
	pkgrel = 1
	url = https://github.com/bartekpacia/emu
	conflicts = emu
	provides = emu
	arch = aarch64
	source_aarch64 = https://github.com/bartekpacia/emu/releases/download/v0.2.14/emu_0.2.14_linux_arm64.tar.gz
	sha256sums_aarch64 = b63d70d8f7a9a8d6dbb25459bc8ba15e115d15975bb891a7774ed5da172c746b
	arch = x86_64
	source_x86_64 = https://github.com/bartekpacia/emu/releases/download/v0.2.14/emu_0.2.14_linux_amd64.tar.gz
	sha256sums_x86_64 = 665547c74638f0cc40b083229c3ed1aaea4c86edd988adc092f2e03f2c9dcf9a
	
pkgname = emu-bin
